/target/CACHEDIR.TAG
/target/debug/.cargo-lock
/target/.rustc_info.json
/target/debug/.fingerprint/course_project-ab8f5123766528ec/bin-course_project
/target/debug/.fingerprint/course_project-ab8f5123766528ec/bin-course_project.json
/target/debug/.fingerprint/course_project-ab8f5123766528ec/invoked.timestamp
/target/debug/.fingerprint/course_project-1ad6963236973330/invoked.timestamp
/target/debug/.fingerprint/course_project-1ad6963236973330/test-bin-course_project
/target/debug/.fingerprint/course_project-1ad6963236973330/test-bin-course_project.json
/.idea/blog.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.gitignore
