<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            transform: scale(0.8);
            transform-origin: top left;
            width: 125%;
        }
        a {
            color: #0060B6;
            text-decoration: none;
        }

        a:hover {
            color:#00A0C6;
            text-decoration:none;
            cursor:pointer;
        }

        .container {
            border: 3px solid #f1f1f1;
            width: 80%;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
        }

        .post {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }

        .post:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .post h2 {
            font-size: 24px;
            margin-bottom: 8px;
        }

        .post p {
            font-size: 16px;
            line-height: 1.6;
        }

        .imgcontainer {
            text-align: center;
            margin-bottom: 20px;
        }

        img.avatar {
            width: 20%;
            border-radius: 50%;
        }

        /* Стили для кнопки "Новый пост" */
        .new-post-btn {
            display: block;
            width: 100%;
            text-align: center;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 18px;
            transition: background-color 0.3s ease;
        }

        .new-post-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="imgcontainer">
        <img src="/images/logo.jpg" alt="Avatar" class="avatar">
    </div>

    <!-- Кнопка "Новый пост" -->
    <button class="new-post-btn">Add post +</button>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.new-post-btn').addEventListener('click', function(event) {
                event.preventDefault(); // Отменяем стандартное действие по переходу по ссылке

                // Загрузка содержимого страницы из файла /post.html
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var myHtmlContent = xhr.responseText;

                        // Отобразить контент в каком-то контейнере (например, в теле документа)
                        document.querySelector('.container').innerHTML = myHtmlContent;

                        // Изменение адресной строки браузера
                        // history.pushState(null, null, '/post.html');

                        // Изменение адресной строки браузера и перезагрузка страницы
                        window.location.href = '/post.html';
                    }
                };
                xhr.open('GET', '/post.html', true);
                xhr.send();
            });
        });
    </script>


    {{#each posts}}
        <div class="post">
            <h2>{{this.0}}</h2>
            <p>{{this.1}}</p>
        </div>
    {{/each}}
</div>

</body>
</html>
